body{
    margin: 0px;
}
.nav{
    background-color: black;
    overflow: hidden;
    position: relative;
}
.nav a{
  text-decoration: none;
}
.nav h1{
    color: white;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#title{
  width: 33.33%;
  text-align: center;
}
#menuBtn{
  width: 33.33%;
}
#searchBar{
  width: 33.33%;
  display: flex;
  justify-content: right;
}
.nav input[type=text] {
    margin: 0 auto;
    /* float: right; */
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    
  }
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }
  
  .menu a:hover{
    color: #f1f1f1;
  }
  
  .menu .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
.close{
    cursor: pointer;
}
#open{
    left: 25px;
    font-size: 90px;
    cursor: pointer;
    color: white;
    margin: 10px;
}
.itemsContainer{
    margin: auto;
    width: 80%;
    height: 1000px;
    border: 2px solid grey;
}
.container{
  margin: auto;
  height: auto;
  width: 80%;
  border: 2px solid grey;

}
.top{
  width: 100%;
  height: 600px; 
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pic{
  width: 50%;
  margin-top: 30px;
}
.text p{
  font-size: 20px;
}
.button{
  border: none;
  color: white;
  padding: 32px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  background-color: black;
  cursor: pointer;
}
#pBtn:hover{
  background-color: gray;
  color: black;
}
.description{
  padding: 30px;
}
.product{
  margin: 30px;
}
.purchase{
  margin: 30px;
  text-align: center;
}
.purchase h1{
  font-size: 42px;
}
.wrapper2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.text{
  text-align: center;
}
.item{
  border: 1px solid grey;
  width: 300px;
  height: 300px;
  text-align: center;
}
.item a{
  text-decoration: none;
  color: black;
}
.m{
  margin-top: 30px;
}
#item:hover{
  background-color: grey;
}
#cartIcon{
  background-color: white;
  border-radius: 5px;
  margin-right: 10px;
  padding: 2px;
  cursor: pointer;
}
.itemsContainer{
  display: flex;
}
.wrapper3{
  margin: auto;
  width: 80%;
  height: 2000px;
  border: 2px solid grey;
}
.checkoutWrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
  
}
.quantity{
  display: block;
  border: 1px solid grey;
}
.qBtn{
  display: flex;
  align-items: center;
  margin: 15px;
}
.qBtn button{
  border: none;
  color: white;
  /* padding: 32px 42px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  background-color: black;
  cursor: pointer;
  margin: 10px;
}
.qBtn button:hover{
  background-color: gray;
}
.c{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}
.checkOutBtn{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.checkOutBtn button{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  background-color: black;
  cursor: pointer;
  margin: 10px;
  }
.checkOutBtn button:hover{
  background-color: gray;
}
.rUsers{
  border: 2px solid grey;
  height: auto;
  /* width: 100%; */
  padding: 20px;
}
.order{
  border: 2px solid grey;
  
}

.login input{
  width: 200px;
  margin:auto;
}
.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  
}
.revBtn{
  border: none;
  color: white;
  padding: 32px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: black;
  cursor: pointer;
}