body{
    margin: 0px;
}
.nav{
    background-color: black;
    overflow: hidden;
    position: relative;
}
.nav h1{
    color: white;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex>*:first-child{
    align-self: flex-start;
}
.nav input[type=text] {
    margin: 0 auto;
    /* float: right; */
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    
  }
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }
  
  .menu a:hover{
    color: #f1f1f1;
  }
  
  .menu .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
.close{
    cursor: pointer;
}
#open{
    left: 25px;
    font-size: 90px;
    cursor: pointer;
    color: white;
    margin: 10px;
}
.itemsContainer{
    margin: auto;
    width: 80%;
    height: 1000px;
    border: 2px solid grey;
}